.leftLights::before {
  content: '';
  position: absolute;
  pointer-events: none;
  width: 25%;
  height: 900px;
  left: -12.5%;
  top: calc(50% - 900px / 2 + 151px);
  opacity: 0.2;
  background: linear-gradient(180deg, rgba(241, 185, 0, 0.2) 0%, rgba(207, 117, 0, 0.4) 100%);
  filter: blur(125px);
  transform: rotate(-15deg);
  border-bottom-left-radius: 25% 25%;
  border-bottom-right-radius: 25% 25%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  z-index: 200;
  will-change: filter;
  mix-blend-mode: normal;
}

.leftLights::after {
  content: '';
  position: absolute;
  pointer-events: none;
  width: 40%;
  height: 422px;
  left: 0px;
  top: calc(50% - 422px / 2 + 298px);
  opacity: 0.5;
  background: linear-gradient(180deg, rgba(241, 185, 0, 0.2) 0%, rgba(207, 117, 0, 0.4) 100%);
  filter: blur(125px);
  will-change: filter;
  mix-blend-mode: normal;
}

.rightLights::before {
  z-index: 200;
  content: '';
  position: absolute;
  pointer-events: none;
  width: 25%;
  height: 900px;
  right: -12.5%;
  top: calc(50% - 900px / 2 + 151px);
  background-image: linear-gradient(180deg, rgba(151, 191, 236, 0.2) 0%, rgb(42, 118, 233, 0.4) 100%);
  filter: blur(125px);
  transform: rotate(15deg);
  border-bottom-left-radius: 25% 25%;
  border-bottom-right-radius: 25% 25%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  opacity: 0.2;
  overflow: hidden;
  will-change: filter;
  mix-blend-mode: normal;
}

.rightLights::after {
  content: '';
  position: absolute;
  pointer-events: none;
  width: 40%;
  height: 422px;
  right: 0px;
  top: calc(50% - 422px / 2 + 298px);
  opacity: 0.25;

  background: linear-gradient(180deg, rgba(151, 191, 236, 0.2) 0%, rgb(42, 118, 233, 0.4) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  filter: blur(125px);
  will-change: filter;
  mix-blend-mode: normal;
}

.counter-border {
  --border-radius: 44px;
  --border-size: 3px;
  --border-bg: conic-gradient(
    from 180deg at 50% 50%,
    rgba(42, 138, 246, 0) 0deg,
    #2a7cf66b 112.5deg,
    #08cf2398 228.75deg,
    #d8b80079 360deg
  );
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: inline-block;
  z-index: 0;
  backface-visibility: hidden;
}

.counter-border:hover {
  cursor: pointer;
}

.counter-border i {
  content: '';
  position: absolute;
  /* top: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  left: var(--border-size); */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--border-size);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  border-radius: calc(var(--border-radius) + var(--border-size));
}

.counter-border i::before {
  content: '';
  display: block;
  background: var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  animation: spin 10s linear infinite;
}

.counter-border-blue {
  --border-radius: 44px;
  --border-size: 3px;
  --border-bg: conic-gradient(
    from 180deg at 50% 50%,
    #d8b80079 0deg,
    #08cf2398 112.5deg,
    #2a7cf66b 228.75deg,
    rgba(42, 138, 246, 0) 360deg
  );
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: inline-block;
  z-index: 0;
  backface-visibility: hidden;
}

.counter-border-blue:hover {
  cursor: pointer;
}

.counter-border-blue i {
  content: '';
  position: absolute;
  /* top: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  left: var(--border-size); */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--border-size);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
  border-radius: calc(var(--border-radius) + var(--border-size));
}

.counter-border-blue i::before {
  content: '';
  display: block;
  background: var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  animation: spin-right 10s linear infinite;
}

@media (prefers-reduced-motion) {
  .counter-border i::before {
    animation: none;
  }
  .counter-border-blue i::before {
    animation: none;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin-right {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}
